
.action-panel {
    display: none;
    position: absolute;
    right: 15px;
    bottom: -30px;
    z-index: 100;
}

.action-panel > button {
    font-size: small;
    background-color: #1f6fb2;
    color: white;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
    padding: 3px 5px;
}